:root {
  --color-bg: #252525;
  --color-button-bg: var(--color-bg);
  --color-button-bg-hover: #BCEFC1;
  --color-button-border: white;
  --color-text: var(--color-button-border);
  --color-text-hover: green;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg);
}

.button {
  height: 120px;
  width: 360px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-button-border);
  background-color: var(--color-button-bg);
}

.button:hover {
  cursor: pointer;
}

.button::before {
  content: '✔️ Dia 16';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
	align-items: center;
	justify-content: center;
  transform: translateY(-100%);
  font-family: Roboto, 'sans-serif';
  font-size: 32px;
  color: var(--color-text-hover);
  background-color: var(--color-button-bg-hover);
  transition: 0.5s;
}

.button:hover::before {
  transform: translateY(0);
}

.button > .text {
  font-family: Roboto, 'sans-serif';
  font-size: 32px;
  color: var(--color-text);
}

